@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Suez+One&family=Sura:wght@400;700&display=swap');
a{
    text-decoration: none;
}
footer{
    font-family: 'Suez One', serif;
}
p{
    color:aliceblue;
}