<nav class="navbar-nav bg-light">
    <div class="container mt-3">
        <form class="d-flex"(ngSubmit)="onsubmit()" >
            <input class="form-control me-2"name="search" type="text" placeholder="Enter GitHub Username" [(ngModel)]="search" aria-label="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        
    </div>
</nav>
<div class="container">
    <div class="row mt-5">
            <div class="col-md-4">
                <img class="img-fluid" src="{{users.avatar_url}}" alt=""> <br> <br>
                <h3>Name:&nbsp;<span>{{users.name}}</span> </h3>
                <h3>Username:&nbsp;<span><a href="https://github.com/{{users.login}}">{{users.login}}</a></span> </h3>
                <h3>Followers:&nbsp;<span> {{users.followers}}</span> </h3>
                <h3>Following:&nbsp;<span> {{users.following}}</span> </h3>
                <h3>Public Repositories:&nbsp;<span> {{users.public_repos}}</span> </h3>
                <h3>Location:&nbsp;<span> {{users.location}}</span> </h3>
            </div>
        <div class="col-md-8">
          
            <h1 class="text-center">Repositories</h1>
            <div class="row-fluid" *ngFor="let repo of repos">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 appUndeline class="card-title"><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{repo.description}}</h6>
                        <p class="card-text">{{repo.created_at | timeago}}</p>
                    </div>
                </div>

            </div><hr>
        </div>
    </div>
        





   

