<nav class="navbar-nav bg-light">
    <div class="container mt-3">
        <form class="d-flex" >
            <input class="form-control me-2"name="search" type="text" placeholder="Enter GitHub Username"   aria-label="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        
    </div>
</nav>
<div class="container">
    <div class="row mt-5">    
        <div class="col-md-4"> 
            <button>Click me to get data</button>
<br><br><br>
    <img src="../../../assets/img/logo (2).png" alt=""> <br> <br>
    <h3>Name:&nbsp;<span>Sling 254</span> </h3>
    <h3>Username:&nbsp;<span>Sling 254</span> </h3>
    <h3>Followers:&nbsp;<span> 254</span> </h3>
    <h3>Following:&nbsp;<span> 24</span> </h3>
    <h3>Public Repositories:&nbsp;<span> 70</span> </h3>
    <h3>Location:&nbsp;<span> Nairobi</span> </h3>
        </div>
        <div class="col-md-8">
            <h1 class="text-center">Repositories</h1>
<div class="row">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Quote-rating</h5>
            <h6 class="card-subtitle mb-2 text-muted">This is an online platform to read quotes, Post a quote upvote or downvote quotes and also delete quotes.</h6>
            <p class="card-text">Created 5 months ago on Apr 22, 2021 by Maxwell Kamau</p>
        </div>
    </div>
    
    <hr>
   
</div>


<div class="row">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Quote-rating</h5>
            <h6 class="card-subtitle mb-2 text-muted">This is an online platform to read quotes, Post a quote upvote or downvote quotes and also delete quotes.</h6>
            <p class="card-text">Created 5 months ago on Apr 22, 2021 by Maxwell Kamau</p>
        </div>
    </div>
    
    <hr>
   
</div>

        </div>
    </div>

</div>
